@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background-color: #fffbf3;
}

.splide__pagination__page.is-active {
    background-color: #f6d7d8 !important;
}